<div class="container">
      
      <center>
	      <h1> Filch Corner™'s Security Policy and Terms of Service </h1>
	      <p>
	      	These conditions govern the use of our web platform, technologies and software that we put at your disposal. Describing them below:
	      </p>
	      	<h1> 1. Our service </h1>
		      	<p>	
		      		Our objective is to give people the posibility to be part of their communities and neighborhoods, letting them to reclaim about social, political, economical and transportation problems (could include more topics), to make their town, city or country a better place to live. 
		       </p>	
	      <h1> 2. Data Policy and your privacy options </h1>
		      <p>
		      	For giving you our service, we need to gather and use some personal information. Here below we show you the data policy that you must accept in order to use our software:
		      	
		      	What type of information we gather?
		      	~ Only information and content that you give to us, like content, comunications and other data that you provide by using the software.
		      	~ Network and connections. We gather information about the different profiles pages you visit and the people you interact in the website.
		      	~ Your use. We gather data about your different actions you do in the software.
		      	~ Other user's activities and information they provide about you.  

		      	How we use that information?
		      	~ Provide, customize and improve our product

		      	How this information is shared?
		      	~ People and accounts that you communicate and shared information.
		      	~ Only Filch's users can see your public information.
		      	~ Content that others share and they share again about you.

		      	How we will notify you about changes in our politicies?
		      	We will send you an email to keep you updated about the new changes.

		      	How I could manifest my doubts to Filch administration?
		      	~ Just send an email to: filch_support@filch.com
		      </p>
	      <h1> 3. Your commitment with Filch and our community </h1>
	      		<p>
	      			We give to you and all our users our service with the aim of fulfilling our purpose. That's why you have to compromise with us in the following conditions:
	      			1) Who can use Filch: We want a safety environment in which people takes responsability of their opinions and actions. That's why you have to comply with the following tasks:
	      				- Use your own name that you use in your daily life.
	      				- Give exact information about you.
	      				- Create your own account and use your biography for personal purposes
	      				. Don't give your password or access to other people about your Filch's account or transfer your account without permission.

	      				Filch can be used only in this cases:
	      				- You are older than 14 years old.
	      				- You don't have any serious legal crime of abuse, transgression or theft.
	      				- We have disabled your account before for violating our policies and conditions.

	      			2) What can you do and publish in our software: Filch can be use for express and share content, but not putting in rik the safety and wellness of other people or harm the integrity of our community.
	      				a) The use of our product is not permit for actions or share content in this cases:
	      					- Violate our conditions that govern the use of Filch.
	      					- If they are illegal, fraudulent, deceitful or discriminatory.
	      					- If they infrige or violate the rights of other people.
	      				b) Is not permit upload virus or malicious codem that alter the operation of our software.
	      				c) Is not permit to access to the data of our product without our consent and corresponding permissions.

	      			We reserve the right of deleting content you share that violate our terms and conditios.

	      			3) Permits you grant to us:
	      				- Permission to use the content that you create, share or edit.
	      				- Permission to use your name, profile picture and information about the actions you do on our platform
	      				- Permission of update the software development that you use.

	      			4) Limitations on the use of our intellectual property: We reserve our rights of protected content of intellectual or industrial property. You will keep the intellectual or industrial property rights related to your content and you can use our copyrighted content.
	      		</p>
	      <h1> 4. Addiotional conditions </h1>
	      <p>
	      		a) Updating conditions
	      		b) Suspension or cancellation of account
	      		c) Responsability limitations
	      		d) Conflicts
	      			We reserve the right to intervene in case of conflicts or discussion between users or crowds.
	      </p>

	      <p> 
	      Last check date: June 24, 2019 
	      Filch Corner™ 2019
	  	  </p>
	  	  <button>
	  	  	<%= link_to "Back to platform", root_path %>
	  	  </button>
	  	</center>
</div>