<% @posts.each do |post| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <% if post.user == current_user %>
        <% if current_user.image.attached? %>
          <%= link_to(image_tag(current_user.image, size:'30x20'), current_user.name, profile_path) %>
        <% else %>
        <% end %>
      <% else %>

      <% end %>
    </div>
  </div>
<% end %>
